/*
Paleta de Colores
Azul:  c.dental: 5B7DA0 - tsf: 00a7d2
Gris: 727272

ORBE:
AZUL FUERTE: #5B7DA0
AZUL SELECCIONADO: #5BBEDE
GRIS FUERTE: #6C6C6C
GRIS BAJO: #A3A3A3
*/
html{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin: 0;
    overflow-y: auto;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    margin: 0;
    overflow-y:auto;
    font-size: 14px;
}

.headerSelectable{
    width: 100%;
    cursor: pointer;
}

.headerSelectable:hover{
    width: 100%;
    cursor: pointer;
    background-color: #5B7DA0;
    color: white;
}

/*
Para el scroll bar
*/
::-webkit-scrollbar {
    display: none;
    width: 8px;
}
::-webkit-scrollbar-button {
    display: none;
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    display: none;
    background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    display: none;
    background:#999;
    border: thin solid gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    display: none;
    background:#5B7DA0;
}

.info{
    background-image:url(../images/info16.png);
    background-position: center center;
    width:16px;
    height:16px;
    background-repeat: no-repeat;
    margin: auto auto;
}

.descargar_pk{
	background-image:url(../images/descargar16.png);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.descargar_pk_seleccionado{
    background-image:url(../images/descargar16_seleccionada.png);
    width:16px;
	height:16px;
	background-repeat:no-repeat;
	cursor:pointer; 
}

.descargar_pk:hover{
	background-image:url(../images/descargar16_seleccionada.png);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.fondo_principal{
    background-color: #5B7DA0;
}

.color_principal{
    color: #5B7DA0;
}

.delete_pk{
	background-image:url(../images/delete_pk.png);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.delete_pk:hover{
	background-image:url(../images/delete_seleccionado_pk.png);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
	cursor:pointer;
}


.additem{
	background-image:url(../images/additem.png);
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.additem:hover{
	background-image:url(../images/additem_seleccionado.png);
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.div_gris{
    background-color: #727272;
    color: white;
    font-size: 16px;
}

.div_pointer{
    cursor: pointer;
}

.menu_principal{
    -webkit-box-shadow: 0 10px 10px 3px #777;
    -moz-box-shadow: 0 10px 10px 3px #777;
    box-shadow: 0 10px 10px 3px #777;
    max-width: 300px;
    min-width: 100px;
    position: fixed;
    float: left;
}

#zona_principal{
    float: right;
}

.titulo_forma{
    font-size: 20px;
    color: #5B7DA0;
    font-weight: bold;
    text-align: left;
}

.separador{
    background-color: #5B7DA0; 
    height: 2px; 
    border: 0;
}

.opcion_usuarios{
    font-size: 16px;
    color: dimgray;
    cursor: pointer;
}

.opcion_menu:hover{
    /*font-size: 16px;*/
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_menu_seleccionada{
    /*font-size: 16px;*/
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_menu:hover .usuarios{
    background-image: url(../images/menu/usuarios_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_menu_seleccionada .usuarios{
    background-image: url(../images/menu/usuarios_seleccionado.png);
    width: 24px;
    height: 24px;
}

.usuarios {
    background-image: url(../images/menu/usuarios.png);
    width: 24px;
    height: 24px;
}

.opcion_menu:hover .bancos{
    background-image: url(../images/menu/bancos_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_menu_seleccionada .bancos{
    background-image: url(../images/menu/bancos_seleccionado.png);
    width: 24px;
    height: 24px;
}

.empresas {
    background-image: url(../images/menu/empresas.png);
    width: 24px;
    height: 24px;
}

.opcion_menu:hover .empresas{
    background-image: url(../images/menu/empresas_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_menu_seleccionada .empresas{
    background-image: url(../images/menu/empresas_seleccionado.png);
    width: 24px;
    height: 24px;
}

.xml {
    background-image: url(../images/menu/xml.png);
    width: 24px;
    height: 24px;
}

.opcion_menu:hover .xml{
    background-image: url(../images/menu/xml_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_menu_seleccionada .xml{
    background-image: url(../images/menu/xml_seleccionado.png);
    width: 24px;
    height: 24px;
}

.clientes {
    background-image: url(../images/menu/clientes.png);
    width: 24px;
    height: 24px;
}

.opcion_menu:hover .clientes{
    background-image: url(../images/menu/clientes_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_menu_seleccionada .clientes{
    background-image: url(../images/menu/clientes_seleccionado.png);
    width: 24px;
    height: 24px;
}

.gastos {
    background-image: url(../images/menu/gastos.png);
    width: 24px;
    height: 24px;
}

.opcion_menu:hover .gastos{
    background-image: url(../images/menu/gastos_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_menu_seleccionada .gastos{
    background-image: url(../images/menu/gastos_seleccionado.png);
    width: 24px;
    height: 24px;
}

.bancos {
    background-image: url(../images/menu/bancos.png);
    width: 24px;
    height: 24px;
}

.opcion_dos{
    font-size: 16px;
    color: dimgray;
    cursor: pointer;
}

.opcion_dos:hover{
    font-size: 16px;
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_dos_seleccionado{
    font-size: 16px;
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_tres{
    font-size: 16px;
    color: dimgray;
    cursor: pointer;
}

.opcion_tres:hover{
    font-size: 16px;
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_tres_seleccionado{
    font-size: 16px;
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_cuatro{
    font-size: 16px;
    color: dimgray;
    cursor: pointer;
}

.opcion_cuatro:hover{
    font-size: 16px;
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.opcion_cuatro_seleccionado{
    font-size: 16px;
    color: white;
    background-color: #5B7DA0;
    cursor: pointer;
}

.cerrar_sesion{
    background-image: url(../images/menu/salir.png);
    width: 22px;
    height: 24px;
}

.opcion_cuatro:hover .cerrar_sesion{
    background-image: url(../images/salir_seleccionado.png);
    width: 22px;
    height: 24px;
}

.realizadas{
    background-image: url(../images/realizadas.png);
    width: 25px;
    height: 20px;
}

.opcion_dos:hover .realizadas{
    background-image: url(../images/realizadas_seleccionado.png);
    width: 25px;
    height: 20px;
}

.pendientes{
    background-image: url(../images/pendientes.png);
    width: 22px;
    height: 21px;
}

.inicio{
    background-image: url(../images/inicio.png);
    width: 24px;
    height: 24px;
}

.opcion_uno:hover .inicio{
    background-image: url(../images/inicio_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_uno_seleccionado .inicio{
    background-image: url(../images/inicio_seleccionado.png);
    width: 24px;
    height: 24px;
}

.agenda{
    background-image: url(../images/agenda.png);
    width: 24px;
    height: 24px;
}

.opcion_dos:hover .agenda{
    background-image: url(../images/agenda_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_dos_seleccionado .agenda{
    background-image: url(../images/agenda_seleccionado.png);
    width: 24px;
    height: 24px;
}

.pacientes{
    background-image: url(../images/pacientes.png);
    width: 24px;
    height: 24px;
}

.opcion_tres:hover .pacientes{
    background-image: url(../images/pacientes_seleccionado.png);
    width: 24px;
    height: 24px;
}

.opcion_tres_seleccionado .pacientes{
    background-image: url(../images/pacientes_seleccionado.png);
    width: 24px;
    height: 24px;
}

.map_canvas { 
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.importante{
    color:#5B7DA0;
    font-size: 14px;
}

.texto_seccion{
    color:#5B7DA0; 
    font-size:20px;
}

.texto_campo{
    text-align:left; 
    padding-left:12px; 
    color:#777; 
    font-size:16px;
}

.texto_forma{
    text-align: left;
    font-size: 16px;
    padding-left: 3%;
}

.texto_iconos{
    text-align: center;
    font-size: 20px;
}

input[type=text],input[type=password].campo_forma{
    width: 93%;
    font-size: 20px;
}

.contenido_modal{
    width: 660px;
    min-height: 650px;
    height: auto;
    text-align: center;
}

.boton_selector_opcion{
	background-color:#16325A;
	padding-bottom: 5px;
	padding-top: 5px;
    font-weight: bold;
	text-align: center;
	color: #fff;
	width: 96%;
	margin:0 auto 0 auto;
	-webkit-border-radius:2px;
 	-moz-border-radius:2px;
	border.radius: 2px;
	cursor: pointer;
}

.boton_selector_opcion:hover{
	background-color:teal;
	padding-bottom: 5px;
	padding-top: 5px;
	height: auto;
	color: #fff;
	width: 96%;
	margin:0 auto 0 auto;
	-webkit-border-radius:2px;
 	-moz-border-radius:2px;
	border.radius: 2px;
	cursor: pointer;
}

.cargando_grande{
    background-image:url(../images/ajax-loader-gd.gif);
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	cursor:pointer;
    margin: auto;
}

.fin_lista{
    height: 5px;
    width: 100%;
    background-color: #16325A;
}

.catalogo{
    background-image: url(../images/categorias_128.png);
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.catalogo:hover{
    background-image: url(../images/categorias_128_seleccionado.png);
    width: 128px;
    height: 128px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.opcion_menu_principal_seleccionada .texto_opcion_menu{ 
    color: #00e676;
    cursor: pointer;
}

.opcion_menu_principal_seleccionada .icono_opcion_menu{
    background-image: url(../images/arrow_seleccionado.png);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.opcion_menu_principal{
    padding: 6px;
}

.opcion_menu_principal:hover .texto_opcion_menu{
    color: #00e676;
    cursor: pointer;
}

.opcion_menu_principal:hover .icono_opcion_menu{
    background-image: url(../images/arrow_seleccionado.png);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.texto_opcion_menu{
    font-size: 18px;
    color: white;
}

.icono_opcion_menu{
    background-image: url(../images/arrow.png);
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
}

#barra_derecha{
    background-color: #FFFFFF;
    height: 100%;
    overflow-y: auto;
}

#barra_izquierda{
    background-color: #16325A;
    height: 100%;
    overflow-y: auto;
}

.ayuda_campos{
	font-size:16px;
	color:#FFF;
	text-align:left;
	background-color:#5B7DA0;
	padding-left: 10px;
	padding-right: 10px;
	display:none;
	padding-top: 5px;
	padding-bottom: 5px;
}

.ayuda_campos_visible{
    font-size:16px;
	color:#FFF;
	text-align:left;
	background-color:#5B7DA0;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.close{
	background-image:url(../images/close32.png);
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.close:hover{
	background-image:url(../images/close32_seleccionado.png);
	width:32px;
	height:32px;
	background-repeat:no-repeat;
	cursor:pointer;
}

.fila_lista_uno{
	font-size: 14px;
	cursor: pointer;
	background: #FFF;
	color: #222;
}

.fila_lista_uno:hover{
	font-size: 14px;
	cursor: pointer;
	background: #868786;
	color: #FFF;
}

.fila_lista_dos{
	font-size: 14px;
	cursor: pointer;
	background: #CCC;
	color: #222;
}

.fila_lista_dos:hover{
	font-size: 14px;
	cursor: pointer;
	background: #868786;
	color: #FFF;
}